$dark-gray: hsl(0, 0%, 63%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$very-dark-gray: hsl(0, 0%, 27%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

.hidden {
    display: none;
}

nav {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    width: 100%;
    padding: 2.5rem 1.5rem;

    #menu-button {
        position: absolute;
        left: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
    }

    .logo {
        display: block;
        margin: auto;
        width: fit-content;
    }

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 120vh;
        background-color: rgba($black, 0.5);
    }

    .links {
        position: absolute;
        background-color: $white;
        left: 0;
        right: 0;
        top: 0;
        padding: 3rem 1.5rem;
        display: none;
        justify-content: flex-end;
        gap: 1rem;
        list-style: none;

        #menu-close {
            position: absolute;
            left: 1.5rem;
            background-color: transparent;
            border: none;
        }

        a {
            text-decoration: none;
            color: $black;
            font-weight: 600;
        }
    }
}

main {
    overflow: hidden;

    img {
        width: 100%;
    }

    header {
        width: 100%;
        position: relative;

        .img-container {
            width: 100%;
            overflow-x: hidden;

            .images {
                position: relative;
                left: 0;
                width: 300%;
                display: flex;
            }
            
        }

        .arrows {
            position: absolute;
            bottom: 0;
            right: 0;
            display: flex;

            .arrow {
                background-color: $black;
                width: 4rem;
                height: 4rem;
                border: none;
            }
        }
    }

    section {
        display: grid;
        place-items: center;

        .txtbox {
            min-width: 15em;
            max-width: 20em;
            margin: 3.5rem auto;

            h1, h3 {
                color: $black;
                margin-bottom: .5em;
            }

            h1 {
                font-size: 2.2rem;
            }

            h3 {
                text-transform: uppercase;
                font-size: .8rem;
                letter-spacing: .5em;
                margin-bottom: 1.5em;
            }

            p {
                color: $dark-gray;
                line-height: 1.3em;
            }

            a {
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: .8em;
                font-weight: 700;
                color: $very-dark-gray;
                display: block;
                margin-top: 2em;
            
                &::after {
                    content: url(../images/icon-arrow.svg);
                    position: relative;
                    left: 1em;
                }
            }

            
        }
    }
}

@media screen and (min-width: 500px) {
    nav {
        padding: 3em;

        .logo {
            margin: 0;
            margin-right: 1rem;
            float: left;


            img {
                width: 100%;
            }
        }

        #menu-button {
            display: none;
        }

        .links {
            display: flex;
            justify-content: left;
            background-color: transparent;
            position: relative;
            padding: 0;

            #menu-close {
                display: none;
            }

            a {
                position: relative;
                color: $white;
            }

            a::after {
                content: '';
                position: absolute;
                width: 0;
                height: .1em;
                background-color: $white;
                bottom: -1em;
                left: 50%;
                transform: translateX(-50%);
                transition: width .2s;
            }

            a:hover::after {
                width: 1.5em;
            }
        }
    }

    main {
        header {
            height: 50%;
            
            .img-container {
                height: 100%;
    
                .images {
                    height: 100%;
    
                    img {
                        object-fit: cover;
                    }
                }
            }

            .arrows .arrow {
                transition: background-color .2s;
            }

            .arrows .arrow:hover {
                background-color: $very-dark-gray;
            }
            
        }

        section a {
            transition: color .2s;
        }

        section a:hover {
            color: $dark-gray;
        }

        section a:hover::after {
            transition: opacity .2s;
            opacity: .5;
        }
    }

    
}

@media screen and (min-width: 850px) {
    main {
        display: flex;
        flex-wrap: wrap;


        header {
            width: 100%;

            .img-container {
                width: 100%;
                overflow-x: hidden;

                .images {
                    width: 300%;
                }

                img {
                    height: 100%;
                    width: 100%;
                }

                img:nth-child(1) {
                    content: url(../images/desktop-image-hero-1.jpg);
                }

                img:nth-child(2) {
                    content: url(../images/desktop-image-hero-2.jpg);
                }

                img:nth-child(3) {
                    content: url(../images/desktop-image-hero-3.jpg);
                }
            }
        }

        section {
            flex-grow: 1;
            width: 50%;

            img {
                object-fit: cover;
                height: 100%;
            }
        }

        section:nth-of-type(1) {
            order: 1;
        }

        section:nth-of-type(2) {
            order: 2;
        }

        section:nth-of-type(3) {
            order: 4;
        }

        section:nth-of-type(4) {
            order: 3;
        }
    }
}

@media screen and (min-width:900px) {
    html {
        font-size: 20px;
    }

    nav {
        .logo {
            width: 4rem;
        }
    }
    
}

@media screen and (min-width: 1400px) {
    main {
        header {
            width: 60%;
            
            .arrows {
                transform: translateX(100%);

                .arrow {
                    width: 6.6em;
                    height: 6.6em;
                }
            }  
        }

        section {
            width: auto;
        }

        section:nth-of-type(3) {
            order: 3;

            .txtbox {
                max-width: 25em;
            }
        }

        section:nth-of-type(4) {
            order: 4;
        }
    }
}

